:root {
  --color-bg-main: #1F1E1E;
  --color-placeholders: #777777;
  --color-input-fields: #3045C5;
  --color-button-primary-hover:#1B2EA2;
  --color-bg-modals:#141414;
  --color-text-white:#ffffff;
  --color-buttom-secondary-animation:#3044c596;
  --color-box-shadow:#00000040;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    overflow: hidden;
    font-family: "Manrope", sans-serif;
  }