<div class="container-fluid signin-block align-content-start">
    <div class="row justify-content-center mb-5">
      <img src="./assets/images/cipher-logo.svg" class="img-fluid logo" />
    </div>
    <div class="form-block row justify-content-center">
      <div class="form-modal container">
        <form>
          <div class="modal-parts">
            <input type="text" class="input-field" placeholder="Username" />
          </div>
          <div class="modal-parts">
            <input type="password" class="input-field" placeholder="Password"  />
          </div>
          <div class="modal-parts">
            <input type="password" class="input-field confirm-password" placeholder="Confirm Password"  />
          </div>
          <div class="modal-parts">
            <button type="submit" routerLink="/profile-setup" class="basic-button">Sign Up</button>
          </div>
        </form>
        <div class="modal-parts">
          <a routerLink="/sign-in" class="anchor-button">Sign In</a>
        </div>
      </div>
    </div>
  </div>
  