<div class="container-fluid signin-block align-content-start">
  <div class="row justify-content-center mb-5">
    <img src="./assets/images/cipher-logo.svg" class="img-fluid logo" />
  </div>
  <div class="form-block row justify-content-center">
    <div class="form-modal container">
      <form>
        <div class="modal-parts">
          <input type="text" class="input-field" placeholder="Username" required/>
        </div>
        <div class="modal-parts">
          <input type="password" class="input-field" placeholder="Password" required />
        </div>
        <div class="modal-parts">
          <button type="submit" class="signin-button">Sign In</button>
        </div>
      </form>
      <div class="modal-parts">
        <a href="#" class="signup-button">Sign Up</a>
      </div>
    </div>
  </div>
</div>
