.container-fluid {
  background-color: var(--color-bg-main);
  height: 100vh;
}

.logo {
  width: 20vh;
  height: auto;
  margin: 15vh 0 10vh 0;
}

.form-modal {
  height: 55vh;
  width: 16.6vw;
  background-color: var(--color-bg-modals);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1vh;
}

.input-field {
    color: white;
  background-color: var(--color-bg-main);
  border: none;
  padding: 1vh;
  border-radius: 1vh;
  height: 4.3vh;
  width: 15.5vw;
}

.date-input{
 color: var(--color-placeholders);
}

.input-label{
  color: white;
  padding-left: 0.2vw;
}

input:focus{
    border: 0.3vh solid var(--color-input-fields);
    outline: none;
}


.modal-parts {
  margin-bottom: 1.3vh;
}

.basic-button,.anchor-button{
  text-decoration: none;
  outline: none;
  border-radius: 1vh;
}

.basic-button {
  color: white;
  background-color: var(--color-input-fields);
  height: 4.3vh;
  width: 15.5vw;
  border: 0.3vh solid var(--color-input-fields);
  margin-top: 1vh;
}

.anchor-button {
  background-color: var(--color-bg-modals);
  color: var(--color-placeholders);
  border: 0.3vh solid var(--color-input-fields);
  height: 4.3vh;
  width: 14.5vw;
}

.basic-button:hover{
  background-color: var(--color-bg-modals);
  color: var(--color-placeholders);
  transition: background-color,color 0.5s ease;
}

.anchor-button:hover{
    background-color: var(--color-input-fields);
    color: white;
    transition: background-color,color 0.5s ease;
  }

  /* photo field styles */
  .image-input {
    opacity: 0;
    height: 0;
  }

  .image-input-container {
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
  }

  .image-label {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    cursor: pointer;
    width: 10vh;
    height: 10vh;
    border: solid 0.3vh var(--color-input-fields);
    border-radius: 0.5vh;
    object-fit: cover;
    transition: all 0.3s ease;
  }

  .image-input-container img {
    width: 10vh;
    height: 10vh;
    border: solid 0.3vh var(--color-input-fields);
    border-radius: 0.5vh;
    object-fit: cover;
  }