<div class="chat-container">
  <div class="receiver-bar">
    <div class="left-section">
      <img [src]="getAvatarUrl()" alt="Avatar" class="avatar" />
      <span class="nickname"></span>
    </div>

    <span class="status">Last seen: {{ currentChatUser?.lastSeen | date: 'short' }}</span>
  </div>

  <div class="chat-bar">
    <div *ngFor="let message of messages" class="message" [ngClass]="{'message-left': message.senderId !== userId, 'message-right': message.senderId === userId}">
      <span class="message-text">{{ message.text }}</span>
      <div class="timestamp">{{ message.createdAt | date: 'shortTime' }}</div>
    </div>
  </div>

  <div class="input-bar">
    <textarea
      type="text"
      class="input-field message-input scroll"
      id="message"
      [(ngModel)]="currentText"
      placeholder="Enter your message...."
    ></textarea>
    <a (click)="sendMessage()"><img src="./assets/images/send.svg" alt="send" class="send-icon" /></a>
  </div>
</div>
