.container-fluid {
  background-color: var(--color-bg-main);
  height: 100vh;
}

.logo {
  width: auto;
  height: 19vh;
  margin: 15vh 0 10vh 0;
}

.form-modal {
  height: auto;
  width: auto;
  background-color: var(--color-bg-modals);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1vh;
  box-shadow: 0 0.25rem 0.25rem var(--color-box-shadow);
}

.input-field {
  color: var(--color-text-white);
  background-color: var(--color-bg-main);
  border: none;
  padding: 1vh;
  border-radius: 1vh;
  height: 2rem;
  width: 16rem;
  box-shadow: 0 0.25rem 0.25rem var(--color-box-shadow);
}

input:focus {
  border: 0.3vh solid var(--color-input-fields);
  outline: none;
  box-shadow: none;
}

.username-input {
  margin-top: 1.3rem;
}

.modal-parts {
  margin: 1.3rem 0 1.3rem 0;
}

.router-button{
  margin-top: 0;
}


.primary-button {
  text-decoration: none;
  outline: none;
  border-radius: 0.5rem;
  height: 2rem;
  width: 16rem;
  color: var(--color-text-white);
  background-color: var(--color-input-fields);
  border: 0.3vh solid var(--color-input-fields);
  box-shadow: 0 0.25rem 0.25rem var(--color-box-shadow);
}


.primary-button:hover {
  background-color:  var(--color-button-primary-hover) ;
  border-color: var(--color-button-primary-hover) ;
  box-shadow: none;
  transition: box-shadow,border-color 0.5s ease;
  transition: background-color, 0.2s linear
}

/* secondary button styles for animation */

.secondary-button {
  position: relative;
  border: none;
  outline: none;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  border-radius: 0.5rem;
  height: 2rem;
  width: 16rem;
  border: 0.3vh solid transparent;
  z-index: 1;
}

.secondary-button:active {
  transform: translateY(0.2rem);
}

.secondary-button::after,
.secondary-button::before {
  border-radius: 0.5rem;
}

.secondary-button {
  background-color: transparent;
  color: var(--color-text-white);
  border: none;
  overflow: hidden;
  box-shadow: none;
}

.secondary-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.125rem solid  var(--color-input-fields);
  transition: opacity 0.3s, border 0.3s;
  z-index: -1;
}

.secondary-button:hover::before {
  opacity: 0;
}

.secondary-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18.5rem;
  height: 12.5rem;
  background-color:  var( --color-buttom-secondary-animation);
  border-color: transparent;
  border-radius: 50%;
  transform: translate(-0.625rem, -4.375rem) scale(0.1);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  z-index: -2;
}

.secondary-button:hover::after {
  opacity: 1;
  transform-origin: 6.25rem 6.25rem;
  transform: scale(1) translate(-0.625rem, -4.375rem);
}
