<div class="container-fluid signin-block align-content-start">
  <div class="row justify-content-center">
    <img src="./assets/images/cipher-logo.svg" class="img-fluid logo" />
  </div>
  <div class="form-block row justify-content-center">
    <div class="form-modal container">
      <div class="modal-parts">
        <h3 class="form-label">Sign up to Cipher</h3>
      </div>
      <form>
        <div class="modal-parts">
          <input
            #usernameInput
            type="text"
            class="input-field"
            placeholder="Username"
          />
        </div>
        <div class="modal-parts">
          <input
            #passwordInput
            type="password"
            class="input-field"
            placeholder="Password"
          />
        </div>
        <div class="modal-parts">
          <input
            type="password"
            class="input-field confirm-password"
            placeholder="Confirm Password"
          />
        </div>
        <div class="modal-parts">
          <button
            type="submit"
            routerLink="/profile-setup"
            class="primary-button"
          >
            Continue
          </button>
        </div>
      </form>
      <div class="modal-parts router-button">
        <button class="secondary-button" routerLink="/sign-in">
          <a>Go Back</a>
        </button>
      </div>
    </div>
  </div>
</div>
