<div class="container-fluid signin-block align-content-start">
  <div class="row justify-content-center">
    <img src="./assets/images/cipher-logo.svg" class="img-fluid logo" />
  </div>
  <div class="form-block row">
    <div class="form-modal container">
      <div class="modal-parts">
        <h3 class="form-label">Sign in</h3>
      </div>
      <form
        [formGroup]="signInForm"
        (ngSubmit)="onSubmit()"
        class="needs-validation"
        novalidate
      >
        <div class="modal-parts username-input form-group">
          <input
            #usernameInput
            formControlName="username"
            type="text"
            class="input-field input-username form-control form-control-sm"
            placeholder="Username"
            [ngClass]="{
              'is-invalid':
                loginFailed ||
                (formSubmitted &&
                  (signInForm.get('username')?.touched ||
                    signInForm.get('username')?.dirty ||
                    signInForm.get('username')?.value === '') &&
                  (signInForm.get('username')?.hasError('required') ||
                    signInForm.get('username')?.hasError('minlength')))
            }"
            maxlength="25"
          />
        </div>
        <div class="modal-parts password-input form-group">
          <input
            #passwordInput
            type="password"
            class="input-field input-password form-control form-control-sm"
            placeholder="Password"
            formControlName="password"
            [ngClass]="{
              'is-invalid':
                loginFailed ||
                (formSubmitted &&
                  (signInForm.get('password')?.touched ||
                    signInForm.get('password')?.dirty ||
                    signInForm.get('password')?.value === '') &&
                  (signInForm.get('password')?.hasError('required') ||
                    signInForm.get('password')?.hasError('maxlength')))
            }"
            maxlength="25"
          />
          <div class="invalid-feedback">Wrong Login or Password</div>
        </div>
        <div class="modal-parts">
          <button class="primary-button">Sign In</button>
        </div>
      </form>
      <div class="modal-parts">
        <button class="secondary-button" routerLink="/signup">
          <a>Sign Up</a>
        </button>
      </div>
    </div>
  </div>
</div>
