<div class="container-fluid signin-block align-content-start">
  <div class="row justify-content-center">
    <img src="./assets/images/cipher-logo.svg" class="img-fluid logo" />
  </div>
  <div class="form-block row">
    <div class="form-modal container">
      <div class="modal-parts">
        <h3 class="form-label">Sign in</h3>
      </div>
      <form>
        <div class="modal-parts username-input">
          <input
            #usernameInput
            type="text"
            class="input-field input-username"
            placeholder="Username"
            required
          />
        </div>
        <div class="modal-parts password-input">
          <input
            #passwordInput
            type="password"
            class="input-field"
            placeholder="Password"
            required
          />
        </div>
        <div class="modal-parts">
          <button type="submit" class="primary-button">Sign In</button>
        </div>
      </form>
      <div class="modal-parts">
        <button class="secondary-button" routerLink="/sign-up">
          <a>Sign Up</a>
        </button>
      </div>
    </div>
  </div>
  </div>
