*::after,
*::before {
  box-sizing: border-box;
}

.container-fluid {
  background-color: var(--color-bg-main);
  height: 100vh;
}

.logo {
  width: auto;
  height: 19vh;
  margin: 10vh 0 10vh 0;
}

.form-modal {
  width: auto;
  height: auto;
  background-color: var(--color-bg-modals);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  box-shadow: 0 0.7rem 0.7rem var(--color-box-shadow);
  padding: 2rem 2rem 0 2rem;
  
}

@media (min-width: 2000px) {
  .form-modal {
    transform: scale(1.5);
  }

  .logo{
    transform: scale(1.2);
  }
}

.input-field {
  color: var(--color-text-white);
  background-color: var(--color-bg-main);
  border: none;
  padding: 1vh;
  border-radius: 0.4rem;
  height: 2rem;
  width: 16rem;
  box-shadow: 0 0.7rem 0.7rem var(--color-box-shadow);
}

input:focus {
  border: 0.3vh solid var(--color-input-fields);
  outline: none;
  box-shadow: none;
}

.modal-parts {
  margin-bottom: 1.3rem;
  padding: 0 0.5rem 0 0.5rem;
}

.form-label {
  color: var(--color-text-white);
  font-size: 18px;
}

.password-input{
  margin-bottom: 2.2rem;
}