<div class="container-fluid signin-block align-content-start">
  <div class="row justify-content-center">
    <img src="./assets/images/cipher-logo.svg" class="img-fluid logo" />
  </div>
  <div class="form-block row">
    <div class="form-modal container">
      <form>
        <div class="modal-parts username-input">
          <input type="text" class="input-field" placeholder="Username" required/>
        </div>
        <div class="modal-parts">
          <input type="password" class="input-field" placeholder="Password" required/>
        </div>
        <div class="modal-parts">
          <button type="submit" class="primary-button">Sign In</button>
        </div>
      </form>
      <div class="modal-parts">
        <button class="secondary-button" routerLink="/sign-up"><a>Sign Up</a></button>
      </div>
    </div>
  </div>
</div>
